h1 {
	margin-bottom:0;
	margin-top:16px;
	line-height: initial;
}
i {
	font-size:12px!important;
	margin-right:2px;
}
button {
	font-size:13px;
}
#meshIcon {
	margin-top:16px;
	margin-right:4px;
	float:left;
}
#tip {
	font-style:italic;
	margin:0;
	height: 20px;
}
#cellInfo {
	margin:0;
	height: 20px;
}
#cellInfoTable {
	margin-top:20px;
	margin-bottom:20px;
	cursor: default;
}
#watchlist {
	position:fixed;
	bottom: 10px;
	right: 20px;
	width: 330px;
	background-color: #fff;
	z-index:1;
}
#watchlist td {
	padding:0;
	vertical-align: top;
}
#contextMenu {
	position:absolute;
	top: 10px;
	right: 10px;
}
.contextMenuButton {
	margin-left:4px;
	margin-right:4px;
	padding: 8px 8px 4px 8px;
	float:right;
}
.contextMenuButton i {
	font-size:24px!important;
	margin: 0;
}
.w3-table.compact td {
	padding-top:4px;
	padding-bottom:4px;
}
@media (max-width:800px) {
	.w3-mobile{display:block;width:100%!important;float:none;}
}